@import "../../../../../assets/color-variables"

.form__field
  position: relative
  display: block
  margin: 0 0 1.5rem 0
  &__header
    margin-bottom: 10px
  &__item
    margin-bottom: 7px
  &__item:last-child
    margin-bottom: 0
  &__radio
    position: absolute
    opacity: 0
    margin: 0
    &:not(checked)+label:after
      border: 1px solid transparent
      transform: scale(0)
    &:checked+label:after
      background-color: $primary-dark-color
      transform: scale(0.5)
    &:checked+label:before
      border-color: $primary-dark-color
  &__label
    position: relative
    padding-left: 27px
    user-select: none
    display: inline-block
    line-height: 19px
    cursor: pointer
    &:before, &:after
      content: ''
      position: absolute
      left: 0
      top: 1px
      margin: 1px
      width: 12px
      height: 12px
      border-radius: 50%
      border: 1px solid #5a5a5a
      transition: .28s ease
