<div class="dropdownlist" [formGroup]="group"
     appShowDropDownList
     (tabKeyEvent)="tabKeyEventHandler($event)">
  <app-input
    #input
    [group]="group"
    [formField]="formField"
    (formFieldFocusChanged)="focusChangeEvent($event)"
  ></app-input>
  <div class="options" [ngClass]="{active: isShow, inactive: !isShow}">
    <a class="options__item" *ngFor="let option of formField.options; let i = index"
       (click)="chooseOption(option.label)">
      {{option.label}}
    </a>
  </div>
</div>

