<div class="form__field"
     [formGroup]="group">
  <input class="form__field__input"
         [formControlName]="formControlName"
         [attr.id]="formControlName"
         [ngClass]="{ filled: getInputValue(),
                      forceFocus: forceFocus}"
         appFormFieldFocus
         (appFormFieldFocusChanged)="focusChanged($event)"
         (tabKey)="tabKeyEventHandler($event)"
         (ngModelChange)="changeEvent($event)"
         [attr.value]="formControl.value"
         type="text"/>
  <label class="form__field__label"
         [attr.for]="formControlName"
  >{{ formField.showProperties.label }}</label>
  <app-form-error
    [appFormControl]="formControl"
    [valueChanged]="getInputValue()"></app-form-error>
</div>
