<div class="form__field"
     [formGroup]="group">
  <input class="form__field__input"
         [formControlName]="formField.nameField"
         [attr.id]="formField.nameField"
         [ngClass]="{ filled: getInputValue(),
                      forceFocus: forceFocus}"
         appFormFieldFocus
         (appFormFieldFocusChanged)="focusChanged($event)"
         (tabKey)="tabKeyEventHandler($event)"
         type="text"/>
  <label class="form__field__label"
         [attr.for]="formField.nameField"
  >{{ formField.showProperties.label }}</label>
</div>
