<div class="form__field"
     [formGroup]="group">
  <div class="form__field__item" *ngFor="let option of formField.options; let i = index">
    <input class="form__field__checkbox"
           id="{{option.label + i}}checkbox"
           [attr.name]="formField.nameField"
           [formControlName]="formField.nameField"
           [value]="option.value"
           type="checkbox"/>
    <label class="form__field__label"
           for="{{option.label + i}}checkbox" >
      <app-svg class="form__field__done" [svgIcon]="'done'"></app-svg>
      {{ option.label }}</label>
  </div>
</div>

